@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=DM+Sans&family=Fredoka+One&family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

/* COMEÇO DA ESTRUTA PRINCIPAL DO SITE---------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Fredoka One', cursive;
    font-family: 'Poppins', sans-serif;
}

html {
    height: 100%;
}


body {
    font-family: 'Ubuntu Mono', monospace;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #1a5c0a;
}


/* FINAL DA ESTRUTA PRINCIPAL DO SITE ---------------*/

/* IMAGEM DO BACKGROUND ---------------*/
.banner-img {
    display: flex;
    justify-content: center;
}

img.background-img {
    position: absolute;
    object-fit: cover;
    object-position: bottom;
    background-color: #ff8a04;
    width: 100%;
    height: 60vh;
    z-index: -1;
}


/* COMEÇO DO HEADER ---------------*/
header {
    width: 100%;
    background-color: rgb(255, 138, 4);
}

header .container {
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.192);
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 100%;
}

.box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 80%;
    padding: 20px;
}

.box-header a {
    text-decoration: none;
    color: black;
}

.navbar ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
    height: 40px;
}

.navbar li {

    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 20px;
}

.navbar a {
    padding: 15px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.agora {
    border-radius: 20px;
    background-color: #1a5c0a;
}

.agora a {
    color: white;
}

.navbar li:hover {
    border-radius: 20px;
    border: 2px solid #1a5c0a;
}

/* FIM DO HEADER ---------------*/

/* COMEÇO DO MAIN ---------------*/
main {
    height: 100%;
    width: auto;
}

/* Banner */
.banner {
    height: fit-content;
    padding: 70px 0;
    color: white;
    height: 100%;
    background-image: url("../imagens/pexels-pedro-ramos-9447549.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.banner-div {
    display: inline-block;
    position: relative;
}

.banner h2 {
    padding-top: 10px;
}


.banner .container {
    height: 400px;
    font-size: 36px;
    justify-content: center;
    align-items: center;
}

.tamanho-conteudo {
    height: fit-content !important;
}

.banner p {
    width: 50%;
    margin: 0;
    padding: 0;
    width: 280px;
    font-size: 36px;
}

.banner .container span {
    font-weight: 800;
}

.footer {
    background-color: rgb(255, 138, 4);
    height: 150px;
    color: #fff;
    display: flex;
    margin-top: auto;
    font-size: 15px;
}

.card {
    display: flex;
    justify-content: space-around;
}


.footer .container {
    justify-content: center;
    text-align: center;
}

.footer .container .version {
    font-size: 12px;
}

.text-pergunta {
    
    margin-top: 15vh;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.856);
}

.banner-conhecer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: auto;
    width: 80vw;
    margin-top: 15vh;
    padding-top: 30px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
}

.div-conhecer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 30px;
    width: 85%;
    height: 100%;
}
.div-conhecer h1{
    padding: 5px 10px;
    background-color: #ff8a04;
    color: white;
    border-radius: 10px;
}
.div-conhecer p {
    font-size: 30px;
    font-weight: 600;
    margin: 60px 0;
    background-color: #ff8a04;
    color: white;
    border-radius: 10px;
}
.div-conhecer img{
    margin-top: 30px;
}
.banner-aleatorio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #fff;
    width: 80vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    border-radius: 20px;
    color: rgb(0, 0, 0);
}
.div-aleatorio{
    padding: 30px;
    width: 100%;
    height: 100%;
    margin: 0 50px;
}
.div-grafico{
    width: 50%;
}
.h1_grafico{
    background-color: #ff8a04;
    color: white;
    margin-top: 30px;
    padding: 10px 10px;
    text-align: center;
}
.escolha-dest{
    padding: 25px 10px;
    background-color: #ff8a04;
    color: white;
}
.dest-banner{
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
}
.escolha-dest-grafico{
    text-align: center;
    border-radius: 10px;
    padding: 20px 10px;
    background-color: #ff8a04;
    color: white;
}

.banner-conhecer img {
    position: relative;
    width: 100%;
}

.caixa {
    display: flex;
    flex-flow: row nowrap;
    padding-top: 30px;
    overflow-x: auto;
}
.caixa::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
.caixa::-webkit-scrollbar-track {
background: #ff8a04;        /* color of the tracking area */
}

.caixa::-webkit-scrollbar-thumb {
background-color: #ffffff;    /* color of the scroll thumb */
border-radius: 10px;       /* roundness of the scroll thumb */
border: 3px solid #ff8a04;  /* creates padding around scroll thumb */
}

.caixa img {
    object-fit: cover;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    margin: 25px;
    box-shadow: 5px 5px 15px;
    cursor: pointer;
}

.caixa img:hover {
    object-fit: cover;
    border-radius: 10px;
    width: 315px;
    height: 315px;
    margin: 17px;
    box-shadow: 5px 5px 15px;
    cursor: pointer;
}

.caixa #quadro_viagem {
    display: flex;
    justify-content: center;
}

.caixa p {
    text-align: center;
}

.text-caixa {
    position: absolute;
    width: 80%;
    top: 250px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 40px;
    background-color: #F0F2f5;
    border-radius: 10px;
    color: black;
    font-size: 25px;
}

button {
    border: none;
    background: none;
}

.escolha-dest {
    color: #F0F2f5;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 30px;
}

.img-carrosel {
    position: absolute;
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 42vh;
    z-index: -1;
    opacity: 0.7;
}
.link_grafico{
    display: flex;
    justify-content: center;
    margin: 30px 0;
    padding: 30px ;
    text-align: center;
    
}
.link_grafico div{
    text-decoration: none;
    border: 3px solid #ff8a04;
    border-radius: 10px;
    width: 40%;
    color: white;
}
.link_grafico div:hover{
    text-decoration: none;
    background-color: #ff8a04;
    border-radius: 10px;
    width: 40%;
    cursor: pointer;
    color: white;
}

/* Exibir Modal*/
/* Modal ===================== */
.modal-overlay {
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);

    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;

    z-index: 999;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    background: #F0F2f5;
    height: 90vh;
    width: 80vw;
    padding: 2.4rem;

    border-radius: 10px;
    
    position: relative;

}
.quadro_desc{
    display: flex;
    width: 100%;
    height: 100%;
}
.quadro_desc img{
    width: 40vw;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
#modalBanner p, h2{
    padding: 0 30px;
}

.img_carrosel{
    display: inline-block;
    position: relative;
}
.img_carrolse img{
    object-fit: cover;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    margin: 25px;
    box-shadow: 5px 5px 15px;
    cursor: pointer;
}

/*Botoes*/
.div_button{
    display: flex;
    width: 100%;
    padding: 0 30px;
}
.btnAceitar{
    border: 3px solid #1a5c0a;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;
}
.btnAceitar:hover{
    background-color: #1a5c0a;
    color: white;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;
}
.btnCancelar{
    border: 3px solid #790303;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;
}
.btnCancelar:hover{
    background-color: #790303;
    color: white;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;
}
.btnComentario{
    font-size: 20px;
    background-color: #ff8a04;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px 30px;
}
.btnAleatorio{
    border: 3px solid #ff8a04;
    color: black;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 25px;
}
.btnAleatorio:hover{
    background-color: #ff8a04;
    color: white;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}
/* Grafico */
.banner_grafico {
    display: flex;
    justify-content: center;
    background-color: #F0F2f5;
    padding: 0 50px;
    padding-top: 30px;
    margin: 50px auto;
    border-radius: 10px;
    width: 70vw;
    height: 70vh;
}
.p_modal{
    width: 100%;
}

/* Footer */
footer{
    display: flex;
    justify-content: center;
    background-color: #ff8a04;
    padding: 30px 0px;
    width: 100%;
}
.banner_footer a{
    text-decoration: none;
}